streamlit
langchain
langchain-community
langchain-core
langchain-groq
chromadb
faiss-cpu
huggingface-hub>=0.23.0
sentence-transformers==3.3.1
torch>=2.0.0
torchvision
pandas
numpy
altair
plotly
pdfplumber
pdf2image
python-dotenv
pypdf
pytesseract
pillow
fastapi
uvicorn
pyvis
networkx
transformers>=4.41.0
