streamlit
langchain
langchain-community
langchain-core
langchain-groq
chromadb
faiss-cpu
huggingface-hub
sentence-transformers
torch
torchvision
pandas
numpy
altair
plotly
pdfplumber
pdf2image
python-dotenv
pypdf
pytesseract
pillow
fastapi
uvicorn
